.title_place_footer {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 100px;
    padding-top: 96px;
}