.what-we-do__link {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    align-self: flex-start;
    margin-left: 48px;
    margin-bottom: 48px;
}

.what-we-do__link:hover {
    transition: opacity .5s linear,
                color .5s linear;
    opacity: .7;
    color: green;
}