.lists__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    list-style-type: none;
    max-width: 264px;
    padding-top: 24px;
}

.lists__text:first-of-type {
    padding-top: 33px;
}